*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(gray,white);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
form {
  width: 500px;
  margin: 30px auto;
  padding: 30px 35px;
  background: #f9f9ff;
  border-radius: 20px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  font-family:  sans-serif;
  border-top: 6px solid #4a90e2;
}

form label {
  display: block;
  font-weight: 600;
  color: #444;
  margin-bottom: 6px;
}

.btn {
  flex: 1;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 5px;
}
form input{
    height: 30px;
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 6px;
    padding: 0 8px;
    margin-bottom: 10px;
}        
 h2 {
   
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  text-decoration: underline;
  text-decoration-color: #4a90e2;
}
.savebtn{
    background: linear-gradient(135deg, #28a745, #34d058);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    
}