{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'CSS/table.css' %}">
</head>
<body>
     <h1>Student_Table</h1>
    <table >
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Department</th>
            <th>Join_date</th>
            <th>Edit</th>
            <th>Del</th>
        </tr>
        {% for student in data %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.mobile }}</td>
            <td>{{ student.department }}</td>
            <td>{{ student.join_date }}</td>
            <td><button class="btnedit"><a href="{% url 'updatestudent' student.id%}">edit</a></button></td>
            <td><button class="btndel"><a href="{% url 'deletestudent' student.id %}">del</a></button></td
        </tr>
        {% endfor %}
    </table>
   <button class="btn"> <a href="{% url 'addstudent' %}">Open_Form</a></button>

    
</body>
</html>